# Entorno virtual
.venv/

# Caché de Python
__pycache__/
*.py[cod]

# pytest
.pytest_cache/

# Coverage.py
.coverage
htmlcov/

# Instalación y empaquetado
*.egg-info/
build/
dist/

# Editores y sistema
.vscode/
.idea/
.DS_Store
Thumbs.db